@page "/film"
@using WebApplication1.Model
@using WebApplication1.Data
@inject NavigationManager NavigationManager
@inject IMovieService MovieService

<div id="filmInfo">
    <h4>Result</h4>
    <div class="fInfo">
        <label><h3>@filmname</h3></label>

    </div>
    <div class="fInfo">
        <label>Category</label>
        <label>@category</label>
    </div>
    <div class="fInfo">
        <label>FilmStars</label>
        <label>@filmStar</label>
    </div>
    <div class="fInfo">
        <label>Director</label>
        <label>@director</label>
    </div>
    <button @onclick="addFilm">Add to my favorite! </button>
</div>

@code {

    public string filmname { set; get; }
    public string category { set; get; }
    public string filmStar { set; get; }
    public string director { set; get; }

    public IList<Film> allFilms;


    public void addFilm()
    {

        NavigationManager.NavigateTo("/LogIn");
    }

    protected override void OnInitialized()
    {
        Movie movie = new Movie();
        filmname = "movie1";
        MovieService.getMovieById(1);
@*        filmname = movie.moviename;
        category = movie.category;
        filmStar = movie.starname;
        director = movie.directorname;*@


    }


}
