@page "/"
@using WebApplication1.Model
@using WebApplication1.Data
@inject NavigationManager NavigationManager

<div id="filmSearch">
    <div class="form-group">
        <label>Film name:</label>
        <input type="text" placeholder="film name" @bind-value="filmname" />
    </div>

    <button @onclick="SearchFilm">
        Search
    </button>
</div>

<button @onclick="LogIn">
    LogIn
</button>
<button @onclick="Register">
    Register
</button>

<div><label> @message</label></div>
@code{
    public string filmname;
    public string message;
    private IMovieService movieService;

    protected override void OnInitialized()
    {
        movieService =  new CloudMovieService();
    }

    public void SearchFilm()
    {

        movieService.getMoviesByYear(1970,1972);

        

        //   NavigationManager.NavigateTo("/Search");
    }
    public void LogIn()
    {
        NavigationManager.NavigateTo("/film");
    }

    public void Register()
    {
        //      client.Connect();
        //      client.SearchFilm(filmname);
        NavigationManager.NavigateTo("/Registor");
    }
}
}