@page "/LogIn"
@using WebApplication1.Model
@using System.Threading
@using WebApplication1.Data
@inject IJSRuntime JSRuntime;


@inject NavigationManager NavigationManager


        <div id="header">
            <h1>The greatest film</h1>
        </div>

        <div id="logIn">
            <div>Username </div> <input type="text" placeholder="username" @bind-value="username" />
            <div id="password"> Password </div> <input type="password" placeholder="password" @bind-value="password" />
            <button @onclick="PerformLogin"> Log in </button>
            <div style="color:red">@message</div>
            <div id="signUp">
                <div>Aren't signed up yet?</div>
                <NavLink class="nav-link" id="signUpLink" href="Registor">Don't miss a chance and do it now!</NavLink>
            </div>
        </div>
   

@code {
    private IUserService userService;
    private string message;
    public string username { set; get; }
    public string password { set; get; }

    protected override void OnInitialized()
    {
        userService = new UserService();
    }


    public async Task PerformLogin()
    {
        message = "";
        try
        {
            User user = await userService.getUserByUsername(username);

            if (password.Equals(user.password)){

                message = "Login succeed!";
                NavigationManager.NavigateTo($"/TopFilmlist/{username}");
            }
            else
            {
                message = "Please check your username and password and try again!";
            }
        }
        catch (Exception e)
        {

            message = "Username or password is incorrect!";
            Console.WriteLine(e);
        }
    }
}
