@page "/Registor"
@inject NavigationManager NavigationManager
@using WebApplication1.Model

<div class="form-group">
    <label>User name:</label>
    <input type="text" placeholder="user name" @bind-value="username" />
</div>
<div class="form-group">
    <label>Password:</label>
    <input type="text" placeholder="user name" @bind-value="password" />
</div>
<button @onclick="RegisterNewUser">
    Register
</button>

<div><label> @message</label></div>
@code {
    public string username;
    public string password;
    public string message;


    public void RegisterNewUser()
    {
        
        message = "Register succedds!";
        NavigationManager.NavigateTo("/SignUp");

    }

}
