@page "/Registor"
@using WebApplication1.Data
@using WebApplication1.Model
@inject NavigationManager NavigationManager

<div id="logIn">
    <div>
        <label>User name:</label>
        <input type="text" placeholder="user name" @bind-value="username" />
    </div>
    <div >
        <label>Password:</label>
        <input type="text" placeholder="password" @bind-value="password" />
    </div>
    <div >
        <label>Nickname:</label>
        <input type="text" placeholder="nickname" @bind-value="nickname" />
    </div>
    <button @onclick="RegisterNewUser">
        Register
    </button>
</div>

<div id="gif2">
    <img src="pic2.gif" style="margin: 0 auto;">
</div>
<div><label> @message</label></div>
@code {
    public string username;
    public string password;
    public string nickname;
    public string message;
    private IUserService userService;
    private User newUser = new User();

    protected override void OnInitialized()
    {
        userService = new UserService();
    }
    public async Task RegisterNewUser()
    {
        Console.WriteLine("This is the first");
        try
        {   newUser.username =username;
            newUser.password = password;
            newUser.nickname = nickname;
            Console.WriteLine("the username is"+username);
            await userService.RegisterUser(newUser);
            Console.WriteLine("123");
            NavigationManager.NavigateTo("/SignUp");
        }catch(Exception e)
        {

        }
    }

}
