@page "/Search"
@using WebApplication1.Model
@using WebApplication1.Data
@inject NavigationManager NavigationManager


<div class="same">
    <div id="menu">
        <h3 id="h3prof">GreatestFilm</h3>
        <NavLink href="TopFilmlist" class="up"> TopFilm list</NavLink>
        <NavLink href="profileview" class="up">Profile</NavLink>
        <NavLink href="search" class="up">Search</NavLink>
        <div id="filmSearch">
            <div class="form-group">
                <label>Film name:</label>
                <input type="text" placeholder="film name" @bind-value="filmname" />
            </div>
            </div>

            <div>
                <button @onclick="search"> search </button>
                <button @onclick="clear"> clear </button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Movies:</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in result)
                    {
                        <tr>
                            <td>@item.title</td>
                        </tr>
                    }
                </tbody>

            </table>

            <div>
                <label> @message</label>
            </div>


        </div>
    </div>
@code {
    private IMovieService movieService;
    public string title { set; get; }
    public string filmname { set; get; }
    public string category { set; get; }
    public string starname { set; get; }
    public string message { set; get; }
    public IList<Movie> result = new List<Movie>();
    public IList<People> result1 = new List<People>();

    public async Task search()
    {
        try {
            movieService = new CloudMovieService();
            result= await movieService.getMoviesByTitle(title);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }


    public async Task clear()
    {
    }


}
