@page "/TopFilmlist/{username}"
@using WebApplication1.Data
@using WebApplication1.Model
@inject NavigationManager NavigationManager
<h1>The toplists of your favorite movies</h1>

<a href="search/@username" class="up">Search</a>
<table class="table">
    <thead>
        <tr>
            <th>Movies:</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in result)
        {

            <tr>
                <a href="film/@item.id/@username">
                <td>@item.title</td></a>
                <td>@item.year</td>

            </tr>

        }
        <ul>
            @for (int a = 1; a <= result1.Count() / pageSize; a++)
            {
                int p = a;

                <button type="button" @onclick="(e=>HandleChangePage(p))">@p</button>

            }
        </ul>
    </tbody>
    <button type="button" @onclick="test">click me</button>
</table>
@code {
    private IUserService userService;
    private IMovieService movieService;
    private int pageNumber = 1;
    private int pageSize = 20;
    [Parameter]
    public string username { set; get; }
    public IList<Movie> result = new List<Movie>();
    public IList<Movie> result1 = new List<Movie>();


  @*  public async void test()
    {
        IList<Movie> movies = await userService.getMovieList(username);
        Console.WriteLine("movies " + movies[1].title);
        result1 = movies;
        HandleChangePage(10);
    }
*@


    protected override  async Task OnInitializedAsync()
    {
        userService = new UserService();
        movieService = new CloudMovieService();

        try
        {

            IList<Movie> movies = await userService.getMovieList(username);
            Console.WriteLine("movies " + movies[1].title);
            result1 = movies;
            Console.WriteLine("result1 " + result1[1].title);
            Console.WriteLine("test result is " + 2 / 10);
            HandleChangePage(result1.Count / pageSize);
            // HandleChangePage(10);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    public void GetDetails(Movie item)
    {
        int id = item.id;
        Console.WriteLine(id);
        NavigationManager.NavigateTo($"film/{id}/{username}");
    }

    void HandleChangePage(int p)
    {
        pageNumber = p;
        Console.WriteLine(" HandleChangePage result1 " + result1[1].title);

        result = new List<Movie>(result1.Skip((p - 1) * pageSize).Take(pageSize));
        Console.WriteLine("p is " + p);
        foreach (var item in result)
        {
            Console.WriteLine(item.title);
        }
    }
}
