@page "/TopFilmlist"
@using WebApplication1.Data
@using WebApplication1.Model
<h1>The toplists of your favorite movies</h1>
<table>
    <tr></tr>
</table>
@code {
    private IUserService useService;
    private IMovieService movieService;
}
